.left_section {
  width: 65%;
  height: 700px;
  background-color: $cl-black;
  display: inline-block;
  color: $cl-white;
  position: relative;

  @include breakpoint(phone_big2){
    width: 100vh;
    height: 100vh;
  }
}

.right_section {
  height: 700px;
  width: 35%;
  float: right;
  display: inline-block;

  @include breakpoint(phone_big2){
    width: 100%;
  }
}

.title {
  font-size: 42px;
  top: 25%;
  left: 10%;
  position: absolute;
  font-weight: bold;

  &__primary {
    font-size: 32px;
    font-weight: 100;
    @include breakpoint(phone_big2){
      font-size: 16px;
    }
  }

  @include breakpoint(phone_big2){
    font-size: 24px;
  }
}

.main_pic {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

p {
  padding: 20px;
}

