@import 'assets/_colors.scss';
@import 'assets/_mixins.scss';

.nav {
  height: 75px;
  margin-top: 40px;
  @include breakpoint(phone_big2) {
    display: none;
  }
}

li {
  display: inline-block;
}

.nav__link {
  color: $cl-black;
  padding: 40px;
  @include breakpoint(phone_big2) {
    padding: 10px;
  }
}

.nav__items {
  width: 70%;
  display: inline;
  margin-left: 20px;
}

.nav__icons {
  display: inline;
  float: right;
  margin-right: 30px;
  @include breakpoint(phone_big2) {
    margin-right: 0;
  }
}

.social-icon {
  color: $cl-black;
  padding: 20px;

  @include breakpoint(phone_big) {
    padding: 5px;
  }
}