@import '_nav.scss';
@import 'assets/colors';
@import 'assets/mixins';
@import '_reset.scss';
@import '_main.scss';
@import '_grid_section.scss';

body {
  font-size: 21px;
  font-family: 'Open Sans Condensed', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}